body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: navy;
  margin-top: 70px;
}

p {
  text-align: center;
  font-size: 24px;
}

/* MAKING THE IMAGE RESPONSIVE */
img {
  width: 100%;
  height: auto;
}


/* SETTING THE DIV BACKGROUND */
.image-div {
  margin: 0 auto;
  height: 500px;
  border: 2px solid navy;
  background-image: url("./river_canyon.jpg"); /* Link to the background image */
  background-repeat: no-repeat;  /* don't repeat the image if there is remaining space */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-position: cecnter; /* Center the image */
}